.company-logo__wrapper .company-logo,.content-menu-button,.header,.header-nav,.header-nav-arrow,.header-nav-link,.header-nav:before,.headerMobile-collapsed-top,.headerMobile-content,.headerMobile-content-headline,.levelMenu-header-user-points-xp-points,.natural-header,.profile-info-name{
    background-color:#051932;
    color:#fff
}
.header-news-text,.news__kind,.news__name,.news__publishedDate{
    color:#fff
}
.header-nav-link:first-child:hover~.header-nav-arrow,.header-nav-link:hover,.news__item:hover{
    background-color:#11417c;
    transition:.3s
}
.content-menu-title,.news__item{
    border:none
}
.header-nav{
    border:1px solid #2b7adf
}
.news__kind-course{
    background-color:#3d608f
}
.news__more{
    background-color:#2b7adf;
    color:#fff
}
.header-news-item--highlighted{
    background-color:#093366
}
.content-menu-section,.header-nav-link:not(:last-of-type),.header-news-text,.headerMobile-collapsed-top,.headerMobile-content-headline,.news__item{
    border-bottom:1px solid #2b7adf
}
.content-menu-button:after,.header-hamburguinho,.header-logo,.header-nav-link:before{
    width: 80px;
    height: 36px;
    text-decoration: none;
    color: #fdfdfd;
    filter:brightness(100);
}
.header-news-button{
    /*background:url(/assets/images/header/icon-news-bell-white.svg) no-repeat 50%*/
}
@media(min-width:720px){
    .content-menu-section{
        border:none
    }
    .header-nav-arrow,.header-nav:before{
        border-top:1px solid #2b7adf;
        border-left:1px solid #2b7adf
    }
}
