.guide-card{
    font-family:Open Sans,sans-serif;
    max-width:280px
}
.guide-card__link{
    position:relative;
    display:flex;
    flex-direction:column;
    padding:23px 25px 65px 30px;
    width:100%;
    height:100%;
    background-color:#fff;
    box-shadow:0 1px 2px 0 rgba(232,225,225,.5);
    border:1px solid #e3e8ed;
    text-decoration:none
}
.other-degrees-wrapper .guide-card__link{
    background:#fff;
    border:1px solid #eff1f9;
    box-sizing:border-box;
    box-shadow:4px 4px 20px rgba(120,135,182,.1);
    padding:24px 24px 30px;
    position:relative;
    color:#525c65;
    height:306px
}
.guide-card-disabled,.other-degrees-wrapper .guide-card-disabled{
    background:linear-gradient(0deg,rgba(205,172,132,.1),rgba(205,172,132,.1)),#fff
}
.guide-card__link.study-plan-card__link{
    padding-bottom:23px
}
.guide-card__link:hover{
    opacity:.6;
    transition:opacity .1s ease
}
.guide-card__degree-icon{
    position:absolute;
    top:-4px;
    right:15px;
    height:52px;
    width:37px;
    transform:scale(.9);
    transform-origin:top center
}
.guide-card__text{
    display:flex;
    flex-direction:column;
    color:#8696a0
}
div[class^=guide-card-generalTooltip__description-]{
    position:absolute;
    display:inline-block;
    text-align:center;
    height:30px;
    width:30px;
    margin-top:-16px;
    margin-left:213px;
    /*background:url(/assets/images/studyPlan/icon-spotlight.png) no-repeat 50%*/
}
div[class^=guide-card-generalTooltip__description-]:before{
    content:"";
    position:absolute;
    top:-40%;
    left:50%;
    z-index:11;
    transform:translateX(-50%);
    height:0;
    width:0;
    border-top:10px solid #525c65;
    border-left:8px solid transparent;
    border-right:8px solid transparent
}
p[class^=guide-card-generalTooltip__description-label-]{
    position:absolute;
    top:calc(100% - 109px);
    right:-20px;
    font-size:14px;
    line-height:1.47;
    background-color:#525c65;
    color:#fff;
    border-radius:2px;
    padding:12px 15px 15px;
    width:65vw;
    max-width:334px;
    z-index:10;
    margin:0
}
div[class^=guide-card-generalTooltip__description-]:before,p[class^=guide-card-generalTooltip__description-label-]{
    visibility:hidden;
    opacity:0;
    transition:all .3s ease
}
div[class$="--enabled"] p{
    transform:translateY(3px)
}
div[class$="--enabled"]:before{
    transform:translateX(-50%) translateY(3px)
}
div[class$="--enabled"]:before,div[class$="--enabled"] p{
    visibility:visible;
    opacity:1
}
.guide-card__text__progress{
    min-height:50%
}
.guide-card__wrapper__progress{
    min-height:276px
}
.guide-card--company-suggestion.guide-card--kind-plano-de-estudo{
    min-height:123px
}
.guide-card__kind{
    font-size:12px;
    font-weight:600;
    line-height:1.54;
    text-transform:uppercase
}
.guide-card__user-guide-author{
    font-size:12px;
    font-weight:600;
    line-height:1.54;
    color:#a9c0ce
}
.guia-author-summary__author-name-link{
    color:inherit
}
.guia-author-summary__author-badge{
    display:flex;
    margin:0 auto
}
.guide-card__name{
    margin-top:4px;
    font-weight:800
}
.guide-card__disabled,.guide-card__name{
    font-size:16px;
    overflow:hidden;
    text-overflow:ellipsis
}
.guide-card__disabled{
    font-family:Open Sans;
    font-style:normal;
    font-weight:400;
    line-height:150%;
    -webkit-text-decoration-line:underline;
    text-decoration-line:underline
}
.guide-card--company-suggestion .guide-card__name{
    -webkit-box-orient:vertical;
    display:flex;
    display:-ms-flexbox;
    display:-webkit-box;
    -webkit-line-clamp:2
}
.guide-card__progress{
    margin-top:18px
}
.guide-card__description{
    position:absolute;
    left:26px;
    bottom:13px
}
.guide-card__bar{
    display:flex;
    flex-wrap:wrap
}
.guide-card__square{
    width:17px;
    height:17px;
    margin:0 5px 5px 0;
    background-color:#eceff2
}
.guide-card__square--finished{
    background-color:#81e298
}
.guide-card__fraction{
    font-size:25px;
    font-weight:800;
    line-height:1.6;
    color:#747c81
}
.guide-card__label{
    display:inline-block;
    width:65px;
    font-size:13px;
    line-height:1.08;
    color:#747c81
}
.guide-card__no-courses{
    color:#bbbfc1;
    line-height:2.2;
    font-size:13px
}
.guide-card__progress-bar{
    /*background-image:url(/assets/images/progressDonut/bg.svg);*/
    height:73px;
    width:146px;
    overflow:hidden
}
.guide-card__progress-bar svg{
    width:146px;
    height:146px
}
.guide-card__progress-bar__formacao{
    width:100px;
    height:50px;
    background-size:100px
}
.guide-card__progress-bar__formacao svg{
    height:100px;
    width:100px
}
.guide-card__progress-bar__b2b{
    width:50px;
    height:25px;
    background-size:50px;
    position:absolute;
    right:0;
    top:20px
}
.guide-card__progress-bar__b2b svg{
    width:50px;
    height:50px
}
.guide-card__wrapper{
    width:170px;
    padding:11px 9px 15px 11px;
    border:1px solid #e8eef4;
    background-color:#f9fbfd;
    box-shadow:0 1px 5px 0 rgba(101,103,122,.07);
    z-index:1
}
.guide-card__wrapper .guide-card__description{
    position:static
}
.guide-card__progress-bar__color path{
    fill:#000
}
@media (min-width:768px){
    .guide-card__progress-bar__b2b{
        position:unset
    }
}
@media (min-width:1024px){
    .guide-card{
        flex:1 230px;
        max-width:calc(25% - 15px)
    }
    .other-degrees-wrapper .guide-card{
        flex:1 230px;
        max-width:50%
    }
    .guide-card__link{
        padding:23px 24px 65px 28px
    }
}
