.header-nav-link:before{
    content:"";
    display:inline-block;
    background-size:20px 21px;
    border:none;
    width:26px;
    height:25px;
    vertical-align:middle;
    margin-right:15px;
    background:no-repeat 50%
}
.header-nav-link{
    display:flex;
    align-items:center;
    padding:1.5em 0 1.5em 1.5em;
    color:#747c81;
    letter-spacing:.02rem;
    font-size:.82rem;
    text-decoration:none;
    font-weight:600;
    vertical-align:middle;
    transition:.3s
}
.header-nav-link:not(:last-of-type){
    border-bottom:1px solid #e8eef1
}
.header-nav-link:first-child:hover~.header-nav-arrow,.header-nav-link:hover{
    background-color:#eff1f9;
    transition:.3s
}
.header-item-link--dashboard:before{
    /*background-image:url(/assets/images/header/icon-dashboard.svg)*/
}
.header-item-link--careers:before{
    /*background-image:url(/assets/images/header/icon-careers.svg)*/
}
.header-item-link--challenges:before{
    /*background-image:url(/assets/images/header/icon-challenges.svg)*/
}
.header-item-link--degrees:before{
    /*background-image:url(/assets/images/header/icon-degrees.svg)*/
}
.header-item-link--alura-mais:before{
    /*background-image:url(/assets/images/header/icon-alura-mais.svg)*/
}
.header-item-link--projects:before{
    /*background-image:url(/assets/images/header/icon-projects.svg)*/
}
.header-nav-link--courses:before{
    /*background-image:url(/assets/images/header/icon-activities.svg)*/
}
.header-nav-link--dashboardAdmin:before{
    /*background-image:url(/assets/images/header/icon-dashboard.svg)*/
}
.header-item-link--forum:before{
    /*background-image:url(/assets/images/header/icon-forum.svg)*/
}
.header-item-link--forum-interactions:before{
    /*background-image:url(/assets/images/header/icon-forum-interactions.svg)*/
}
.header-nav-link--ranking:before{
    /*background-image:url(/assets/images/header/icon-ranking.svg)*/
}
.header-nav-link--public-user-guides:before{
    /*background-image:url(/assets/images/header/icon-public-user-guides.svg)*/
}
.header-nav-link--news:before{
    /*background-image:url(/assets/images/header/icon-news.svg)*/
}
.header-item-link--recommendations:before{
    /*background-image:url(/assets/images/header/icon-recommendations.svg)*/
}
.header-nav-link--reviews:before{
    /*background-image:url(/assets/images/header/icon-reviews.svg)*/
}
.header-nav-link--profile:before{
    /*background-image:url(/assets/images/header/icon-profile.svg)*/
}
.header-nav-link--profile-edit:before{
    /*background-image:url(/assets/images/header/icon-profile-edit.svg)*/
}
.header-item-link--teams:before{
    /*background-image:url(/assets/images/header/icon-team.svg)*/
}
.header-nav-link--activities:before{
    /*background-image:url(/assets/images/header/icon-activities.svg)*/
}
.header-nav-link--user-guides:before{
    /*background-image:url(/assets/images/header/icon-user-guides.svg)*/
}
.header-nav-link--user-notes:before{
    /*background-image:url(/assets/images/header/icon-note.svg)*/
}
.header-nav-link--purchases:before{
    /*background-image:url(/assets/images/header/icon-billing.svg)*/
}
.header-nav-link--logout:before{
    /*background-image:url(/assets/images/header/icon-logout.svg)*/
}
.header-item-link--like-a-boss:before{
    /*background-image:url(/assets/images/podcast/icon-likeaboss-menu.svg)*/
}
.header-item-link--hipsters:before{
    /*background-image:url(/assets/images/podcast/icon-hipsters.svg)*/
}
.header-item-link--scuba:before{
    /*background-image:url(/assets/images/podcast/icon-scuba.svg)*/
}
.header-item-link--layers:before{
    /*background-image:url(/assets/images/podcast/icon-layers.svg)*/
}
.header-item-link--carreirasemfronteiras:before{
    /*background-image:url(/assets/images/podcast/icon-carreirasemfronteiras.svg)*/
}
.header-item-link--oracle-webinar:before{
    /*background-image:url(/assets/images/header/icon-webnar.svg)*/
}
.header-item-link--oracle-empregaone:before{
    /*background-image:url(/assets/images/header/icon-empregaone.svg)*/
}
.header-item-link--podcasts:before{
    /*background-image:url(/assets/images/header/icon-podcasts.svg)*/
}
.header-item-link--cases:before{
    /*background-image:url(/assets/images/header/icon-cases.svg)*/
}
.header-link-admin,.header-link-company{
    padding-right:15px;
    margin-left:auto
}
.header-link-admin{
    color:#f76a6a;
    font-size:10px;
    display:flex;
    vertical-align:middle
}
.header-link-admin:before{
    /*background-image:url(/assets/images/header/icon-admin.svg)*/
}
.header-link-company{
    color:#6ab9f7;
    font-size:10px;
    display:flex;
    vertical-align:middle
}
.header-link-company:before{
    /*background-image:url(/assets/images/header/icon-business.svg)*/
}
.header-link-admin:before,.header-link-company:before{
    content:"";
    display:inline-block;
    background-size:16px 12px;
    border:none;
    width:16px;
    height:12px;
    vertical-align:middle;
    margin-right:5px;
    background-repeat:no-repeat;
    background-position:50%
}
.header-list-item--alert:after{
    width:20px;
    height:20px;
    margin-right:15px;
    display:inline-block;
    content:"";
    /*background:url(/assets/images/icon-alert.svg) no-repeat 50%*/
}
.header-nav{
    display:none
}
#headerNews{
    display:block
}
.--border{
    border-bottom:1px solid #e8eef1
}
.header-section-description{
    padding:5px;
    background-color:#2187ed;
    margin:16px 20px 0;
    color:#fff;
    font-size:8px;
    font-weight:700
}
.--margin-top{
    margin-top:10px
}
@media (min-width:720px){
    .header-nav{
        display:block
    }
    .header-nav-arrow{
        content:"";
        display:block;
        width:14px;
        height:14px;
        top:0;
        right:13px;
        transform:translateY(-50%) rotate(45deg);
        border-left:1px solid #dfe8eb;
        border-top:1px solid #dfe8eb;
        z-index:-1;
        transition:.3s
    }
    .header-nav,.header-nav-arrow{
        position:absolute;
        background-color:#fff
    }
    .header-nav{
        border:1px solid #dfe8eb;
        top:90%;
        right:-15px;
        width:320px;
        box-shadow:0 4px 5px 0 rgba(0,0,0,.04);
        transform:scale(0);
        transform-origin:top right;
        transition:transform .25s;
        z-index:10;
        outline:none
    }
    .page-header--container .header-nav{
        right:-32px;
        top:107%
    }
    .header-nav#headerNews{
        right:-11px
    }
    .header-nav--active{
        transform:scale(1)
    }
    .content-menu-section{
        border:none
    }
}
